@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
p{
  line-height: 16px;
}
/* =======. Shared Style ======= */
/* *{
      margin: 0;
      padding: 0;
} */
/* color */
.text-primary {
  color: #ff900e;
}

.text-gray {
  color: #424242;
}

.text-light-gray {
  color: #727272;
  line-height: 16px;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.display-flex {
  display: flex;
}

.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.sec-title {
  font-size: 2.8rem;
  font-weight: 700;
}

/* ==== header section ==== */

/* nav section */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 30px;
}

.brand {
  font-size: 3rem;
}

.nav-links {
  align-items: center;
}

.nav-link {
  font-weight: 500;
}

.navbar,
.banner,
.teams,
main {
  max-width: 1440px;
  margin: 0 auto;
}

.banner .banner-content {
  margin: 0 auto;
  max-width: 850px;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-image {
  width: 100%;
}

main,
section {
  margin-top: 130px;
}

/* teams and features */
.teams {
  align-items: center;
}

.team-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  margin-left: 130px;
}

#quick-list {
  font-weight: 500;
}

/* fact-stle */

.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 100px;
}

.fact {
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 240px;
  height: 240px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.fact-description {
  max-width: 540px;
}

.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
}


/* sponsor - related - style */
.our-sponsor{
  margin-bottom: 130px;
}
.sponsor-info{
      max-width: 540px;
      margin: 50px auto;
      text-align: center;
}

.sponsor-companies{
      display: grid;
      grid-template-columns: repeat(5,1fr);
}

.sponsor-companies img{
      filter: grayscale(100%);
}


/* feature section */
.features{
  gap: 140px;
}
#feature-sec-title{
  border-left: 5px solid #ff900e;
  padding-left: 21px;
}
.feature-card{
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.061);
  margin-bottom: 20px;
}

.feature-card .feature-title{
  font-weight: 600;
  font-size: 1.25rem;
}

.featured-arch img{
  width: 100%;
}
#exp-badge{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
}
#exp-years{
  font-size: 4rem;
  font-weight: 700;
}


/* footer */
footer{
  background-color: #FFF4E7;
}
.copyright{
  padding: 39px;
  text-align: center;
  margin-bottom: 216px;
}

/* responsive media */

@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams,
  .features {
    flex-direction: column;
  }

  .team-image-container,
  .fact-container,
  .sponsor-companies {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .fact-container
 {
      justify-items: center;
      gap: 24px;
  }
  .sponsor-companies{
      justify-items: center;
      gap: 50px;
  }

  .our-features {
    margin-left: 20px;
  }
  #exp-badge {
    padding: 16px 8px;
    margin-left: 0;
    margin-top: 20px;
}
}



@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }

  .our-features {
    margin-left: 50px;
  }

  .sponsor-companies, .fact-container{
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
      justify-items: center;
  }
}
